*{
    font-family: sans-serif;
    margin: 0%
    padding: 0;
    background-color: rgb(4, 16, 53);
}

.First{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(165, 184, 248);
}

.Firstname{
    padding: 1px;
    margin-top: 30px;
    background: rgb(165, 184, 248);
    color: white
}

.Firstname i{
    width: 80px;
    height: 50px;
    background-color: rgb(165, 184, 248);
}

.Last{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(130, 196, 240);
}

.Thirdname{
    padding: 1px;
    margin-top: 30px;
    background-color: rgb(130, 196, 240);
    color: white;
}

.Thirdname i{
    width: 80px;
    height: 50px;
    background-color: rgb(130, 196, 240);
}
